<div class="container-fluid">
    <h1>Reactive Forms/Model-Driven Forms</h1>
    <div class="row mb-5">
        <div class="col-5"></div>
        <div class="col-2">
            <div class="form-group">
                <div class="alert alert-info" role="alert">
                    <strong>Valid ? </strong>{{ username.valid }} <br />
                    <strong>Invalid ? </strong>{{ username.invalid }}<br />
                    <strong>Touched ? </strong>{{ username.touched }}<br />
                    <strong>Untouched ? </strong>{{ username.untouched }}<br />
                    <strong>Dirty ? </strong>{{ username.dirty }}<br />
                    <strong>Pristine ? </strong>{{ username.pristine }}<br />
                </div>
            </div>
        </div>
        <div class="col-5"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4">
            <form [formGroup]="myForm1" novalidate>
                <div class="form-group mb-3">
                    <label>USERNAME</label>
                    <input type="text" class="form-control" placeholder="Enter your username" formControlName="username"
                        [ngClass]="{'is-invalid':username.errors && (username.touched || username.dirty),'is-valid': username.valid}" />
                    <div class="invalid-feedback">
                        <strong *ngIf="username.errors?.required">Username is required</strong>
                        <strong *ngIf="username.errors?.minlength">Username length must be greater than
                            {{ username.errors?.minlength.requiredLength }} characters.
                            {{
                            username.errors?.minlength.requiredLength -
                            username.errors?.minlength.actualLength
                            }}
                            more characters required.
                        </strong>
                        <strong *ngIf="username.errors?.maxlength">Username length must be less than 17
                            characters
                        </strong>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label>PASSWORD</label>
                    <input type="password" class="form-control" formControlName="password"
                        [ngClass]="{ 'is-invalid':password.errors && (password.touched || password.dirty)}" />
                    <div class="invalid-feedback">
                        <strong>Only Alphabets are allowed. </strong>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-danger btn-block" (click)="onSubmit(myForm1)"> Submit </button>
                </div>
            </form>
        </div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-4">
            <label>
                <strong>myForm1 : JSON</strong>
            </label>
            <pre class="alert alert-info">{{ myForm1.value|json}}</pre>
        </div>
        <div class="col-1"></div>
    </div>