<h1 class="title">SideBar & Timeline</h1>
<p-sidebar [(visible)]="showSidebar" position="top">
    <ng-template pTemplate="header">Header Content</ng-template>
    <ng-template pTemplate="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis accusamus
            delectus dolorum, amet, doloremque a veniam vitae consectetur distinctio sed officia velit maiores illum
            odit repellendus consequatur! Quisquam, sunt consectetur.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis accusamus
            delectus dolorum, amet, doloremque a veniam vitae consectetur distinctio sed officia velit maiores illum
            odit repellendus consequatur! Quisquam, sunt consectetur.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis accusamus
            delectus dolorum, amet, doloremque a veniam vitae consectetur distinctio sed officia velit maiores illum
            odit repellendus consequatur! Quisquam, sunt consectetur.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis accusamus
            delectus dolorum, amet, doloremque a veniam vitae consectetur distinctio sed officia velit maiores illum
            odit repellendus consequatur! Quisquam, sunt consectetur.</p>
    </ng-template>
    <ng-template pTemplate="footer">Footer Content</ng-template>
</p-sidebar>
<p-button id="btn1" styleClass="p-button-help" (click)="toggleSidebar()">MENU</p-button>


<p-timeline [value]="events" align="alternate" styleClass="customized-timeline">
    <ng-template pTemplate="marker" let-event>
        <span class="custom-marker shadow-2" [style.backgroundColor]="event.color">
            <i [ngClass]="event.icon"></i>
        </span>
    </ng-template>
    <ng-template pTemplate="content" let-event>
        <p-card [header]="event.status" [subheader]="event.date">
            <img *ngIf="event.image" [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + event.image"
                [alt]="event.name" width="200" class="shadow-2" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
                numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis
                esse, cupiditate
                neque quas!
            </p>
            <button pButton type="button" label="Read more" class="p-button-text"></button>
        </p-card>
    </ng-template>
</p-timeline>
