
ul li
{
    width: 50%;
    margin-left: 0;
    margin-right: auto;
}

span{
    font-size: x-large;
    color: darkmagenta;
    text-transform: capitalize;
}

h2,p{
    font-family: algerian;
    font-weight: bolder;
}
ul li,p{
    font-family: times new roman;
    color: dimgrey;
    font-weight: 700;
}

