<div class="container mt-5">
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://rukminim1.flixcart.com/image/450/500/xif0q/shoe/7/2/m/6-tm-12-6-trm-white-original-imagjqyzz8z9jrgf.jpeg?q=90&crop=false" alt="Card image cap">
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://image.made-in-china.com/202f0j00mwTErtaMVUkp/Genuine-Leather-Dress-Formal-Shoes-for-Man-Fashion-Oxford-Shoes-in-Retail.jpg" alt="Card image cap">
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://rukminim2.flixcart.com/image/450/500/xif0q/sandal/a/z/a/7-mn-knight-walkers-brown-original-imaghhwyfzgvcswe.jpeg?q=90&crop=false" alt="Card image cap">
            </div>
        </div>
    </div>
</div>
