<div class="container mt-5">
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://m.media-amazon.com/images/I/51c9xNFAA2L._SY450_.jpg" alt="Card image cap">
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://images-cdn.ubuy.co.in/63560b39d862122e2e4f7074-disney-brand-hot-sale-of-children-s-role.jpg" alt="Card image cap">
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTp5Zw-vvzcXi99ixVafymWhINwKVZbjfN1_Q&usqp=CAU" alt="Card image cap">
            </div>
        </div>
    </div>
</div>

