<div class="grid mt-3">
    <div class="col-offset-1">
        <p-card header="Wireless earbuds" [style]="{ width: '400px' }">
            <ng-template pTemplate="header">
                <img alt="Card"
                    src="https://golden-storage-production.s3.amazonaws.com/topic_images/0dc6cd53fe5048468051ce387aec613d.png" />
            </ng-template>
            <p>
                BoAt distributes a line of wireless earbuds under the brand name Airdopes. As of mid-2020, the
                manufacturers suggested retail price (MSRP) for BoAt's Airdopes line ranges from ₹3,999 (approx. $53) to
                ₹6,999 (~$92).
            </p>
            <ng-template pTemplate="footer">
                <p-button label="Save" icon="pi pi-check"></p-button>
                <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-danger"
                    [style]="{ 'margin-left': '.5em' }"></p-button>
            </ng-template>
        </p-card>
    </div>
    <div class="col-offset-1">
        <p-card header="Tethered wireless earbuds" [style]="{ width: '400px' }">
            <ng-template pTemplate="header">
                <img alt="Card"
                    src="https://golden-storage-production.s3.amazonaws.com/topic_images/d63c90d8f4e24b52ac14ec065cf18e6c.png" />
            </ng-template>
            <p>
                BoAt distributes a line of teathered wireless earbuds under its Rockerz and BoAt brands. As of mid-2020,
                the undiscounted MSRP of BoAt's tethered wireless earbud offerings range from ₹2,990 ($39) to ₹4,990
                ($66).
            </p>
            <ng-template pTemplate="footer">
                <p-button label="Save" icon="pi pi-check"></p-button>
                <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-danger"
                    [style]="{ 'margin-left': '.5em' }"></p-button>
            </ng-template>
        </p-card>
    </div>
    <div class="col-offset-1">
        <p-card header="Wireless headphones" [style]="{ width: '400px' }">
            <ng-template pTemplate="header">
                <img alt="Card"
                    src="https://golden-storage-production.s3.amazonaws.com/topic_images/c6a5dca99da34d86812eeab8c4f72acf.png" />
            </ng-template>
            <p>
                BoAt also distributes a line of wireless headphones in both on-ear and over-ear form factors. Its
                headphones are marketed under the company's BoAt, Rockerz, and Nirvana brands and undiscounted prices
                range betwen ₹2,990 (~$39) and ₹7,990 (~$105).
            </p>
            <ng-template pTemplate="footer">
                <p-button label="Save" icon="pi pi-check"></p-button>
                <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-danger"
                    [style]="{ 'margin-left': '.5em' }"></p-button>
            </ng-template>
        </p-card>
    </div>
</div>
<div class="grid mt-3">
    <div class="col-offset-1">
        <p-card header="Wired headphones" [style]="{ width: '400px' }">
            <ng-template pTemplate="header">
                <img alt="Card"
                    src="https://golden-storage-production.s3.amazonaws.com/topic_images/eefdd6f682a74a9ab152a1f7a885ed13.png"
                    height="328" />
            </ng-template>
            <p>
                BoAt distributes a range of wired headphones and earbuds under the company's BassHeads brand. The
                undiscounted MSRP for BassHeads-branded wired headphones is around ₹2,490 (~$33).
            </p>
            <ng-template pTemplate="footer">
                <p-button label="Save" icon="pi pi-check"></p-button>
                <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-danger"
                    [style]="{ 'margin-left': '.5em' }"></p-button>
            </ng-template>
        </p-card>
    </div>
    <div class="col-offset-1">
        <p-card header="Smart Watches" [style]="{ width: '400px' }">
            <ng-template pTemplate="header">
                <img alt="Card"
                    src="https://golden-storage-production.s3.amazonaws.com/topic_images/d23397378e184fe8b1f6327f2981ac4f.png" height="350" />
            </ng-template>
            <p>
                BoAt offers a line of smart watches that offer a variety of fitness modes, health monitoring features,
                and call, text, and social media notifications.
            </p>
            <ng-template pTemplate="footer">
                <p-button label="Save" icon="pi pi-check"></p-button>
                <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-danger"
                    [style]="{ 'margin-left': '.5em' }"></p-button>
            </ng-template>
        </p-card>
    </div>
    <div class="col-offset-1">
        <p-card header="Portable wireless speakers" [style]="{ width: '400px' }">
            <ng-template pTemplate="header">
                <img alt="Card"
                    src="https://golden-storage-production.s3.amazonaws.com/topic_images/054c3bb1eaa24b2fa29ca262cc8704fb.png" height="325"/>
            </ng-template>
            <p>
                BoAt sells a range of portable wireless speakers under its Stone and Rugby brand names. As of mid-2020,
                devices are priced between ₹2,490 (~$33) and ₹12,999 MSRP ($171).
            </p>
            <ng-template pTemplate="footer">
                <p-button label="Save" icon="pi pi-check"></p-button>
                <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-danger"
                    [style]="{ 'margin-left': '.5em' }"></p-button>
            </ng-template>
        </p-card>
    </div>
</div>