<div class="container mt-5">
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://rukminim2.flixcart.com/image/450/500/kpft18w0/kids-shoe/g/g/z/11c-ft192-led-shoes-for-unisex-feetwell-original-imag3za2fnqgehpa.jpeg?q=90&crop=false" alt="Card image cap">
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://sitegenesis.production.deckers.coremedia.cloud/resource/image/1977672/portrait_ratio1x1/450/450/ae5f2bca2c2de5638f2d225a68c610b/867339A8F119A83BF8A81B73F9BAB69E/kids-baby-tasman.jpg" alt="Card image cap">
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://image.fashiontiy.com/products/T10384D5138/450w/main_2.jpg" alt="Card image cap">
            </div>
        </div>
    </div>
</div>

